$primary-clr-dark: hsl(219, 29%, 14%);
$primary-clr-medium: hsl(217, 19%, 35%);
$primary-clr-regular: hsl(263, 55%, 52%);
$primary-clr-light: hsl(0, 0%, 100%);

$neutral-clr-very-light: hsl(0, 0%, 81%);
$neutral-clr-light: hsl(210, 46%, 95%);

$opacity-normal: 50%;
$opacity-mediuam: 70%;

$ff-all: 'Barlow Semi Condensed', Arial, sans-serif;

$fs-normal: 0.8125rem;

$fw-normal: 500;
$fw-medium: 600;
